In [45]:
library(tidyverse)
library(readxl)

# Part 1: Reading in and cleaning the data

In [24]:
# Read in the fantasy football data
fantasy_data <- read_xlsx('FantasyFootballData2020.xlsx')

In [25]:
head(fantasy_data)

  Team   Position Name                         Projected Points Starter Week
1 Team 1 QB       Cam NewtonCam Newton         18.1      25.7   Yes     1
2 Team 1 RB       Alvin KamaraAlvin Kamara     19.6      23.7   Yes     1
3 Team 1 RB       Kenyan DrakeKenyan Drake     16.4      14.5   Yes     1
4 Team 1 WR       DJ MooreDJ Moore             15.0       9.4   Yes     1
5 Team 1 WR       Amari CooperAmari Cooper     13.4      18.1   Yes     1
6 Team 1 TE       Rob GronkowskiRob Gronkowski  9.6       3.1   Yes     1

In [26]:
str(fantasy_data)

Classes 'tbl_df', 'tbl' and 'data.frame':	2240 obs. of  7 variables:
 $ Team     : chr  "Team 1" "Team 1" "Team 1" "Team 1" ...
 $ Position : chr  "QB" "RB" "RB" "WR" ...
 $ Name     : chr  "Cam NewtonCam Newton" "Alvin KamaraAlvin Kamara" "Kenyan DrakeKenyan Drake" "DJ MooreDJ Moore" ...
 $ Projected: num  18.1 19.6 16.4 15 13.4 9.6 14.5 6.3 8.7 13.7 ...
 $ Points   : num  25.7 23.7 14.5 9.4 18.1 3.1 9.3 -9 9 6.6 ...
 $ Starter  : chr  "Yes" "Yes" "Yes" "Yes" ...
 $ Week     : num  1 1 1 1 1 1 1 1 1 1 ...

In [27]:
# Clean the data. First correct the Name column to only display no duplicates
fantasy_data$Name <- substr(fantasy_data$Name, 1, (nchar(fantasy_data$Name)/2))

In [28]:
# Change week column to be categorical
fantasy_data$Week <- as.factor(fantasy_data$Week)

In [29]:
# Now the data looks fine and it is time to transform the data and create new tables
str(fantasy_data)

Classes 'tbl_df', 'tbl' and 'data.frame':	2240 obs. of  7 variables:
 $ Team     : chr  "Team 1" "Team 1" "Team 1" "Team 1" ...
 $ Position : chr  "QB" "RB" "RB" "WR" ...
 $ Name     : chr  "Cam Newton" "Alvin Kamara" "Kenyan Drake" "DJ Moore" ...
 $ Projected: num  18.1 19.6 16.4 15 13.4 9.6 14.5 6.3 8.7 13.7 ...
 $ Points   : num  25.7 23.7 14.5 9.4 18.1 3.1 9.3 -9 9 6.6 ...
 $ Starter  : chr  "Yes" "Yes" "Yes" "Yes" ...
 $ Week     : Factor w/ 14 levels "1","2","3","4",..: 1 1 1 1 1 1 1 1 1 1 ...

# Part 2: Creating data sets

In [33]:
# Summarize point totals by team
point_totals <- fantasy_data %>% filter(Starter == 'Yes') %>%
                                 group_by(Team) %>%
                                 summarize(Actual = sum(Points), Projected = sum(Projected),
                                           Difference = Actual - Projected) 
point_totals

   Team    Actual  Projected Difference
1  Team 1  1756.90 1714.2      42.70
2  Team 10 1982.10 2025.6     -43.50
3  Team 2  1614.80 1633.6     -18.80
4  Team 3  1788.90 1844.8     -55.90
5  Team 4  1617.80 1669.1     -51.30
6  Team 5  1897.58 1778.7     118.88
7  Team 6  1490.18 1546.9     -56.72
8  Team 7  1539.44 1701.7    -162.26
9  Team 8  1631.68 1636.4      -4.72
10 Team 9  1796.78 1686.4     110.38

In [35]:
# Summarize point totals by team and week
point_totals_week <- fantasy_data %>% filter(Starter == 'Yes') %>%
                                 group_by(Team, Week) %>%
                                 summarize(Actual = sum(Points), Projected = sum(Projected),
                                           Difference = Actual - Projected) 
head(point_totals_week)

  Team   Week Actual Projected Difference
1 Team 1 1    103.80 121.6     -17.80
2 Team 1 2    136.10 119.0      17.10
3 Team 1 3    163.82 127.4      36.42
4 Team 1 4    134.88 131.8       3.08
5 Team 1 5    142.06 126.2      15.86
6 Team 1 6    123.00 117.7       5.30

In [37]:
# Summarize point totals by team, player, by position, by week
point_totals_player <- fantasy_data %>% filter(Starter == 'Yes') %>%
                                 group_by(Name, Position, Week) %>%
                                 summarize(Actual = sum(Points), Projected = sum(Projected),
                                           Difference = Actual - Projected) 
head(point_totals_player)

  Name       Position Week Actual Projected Difference
1 49ers D/ST D/ST     1     1     7.3        -6.3
2 49ers D/ST D/ST     2     6     8.5        -2.5
3 49ers D/ST D/ST     3    13     8.0         5.0
4 49ers D/ST D/ST     4     7     7.8        -0.8
5 49ers D/ST D/ST     5    -4     7.2       -11.2
6 49ers D/ST D/ST     14   10     7.0         3.0

In [47]:
# Write to excel as a csv file for seperate presentation
write.csv(point_totals_week, "point_totals_week.csv")
write.csv(point_totals_player, "point_totals_player.csv")

# Part 3: Decision making metrics

# Part 4: Visualizations

# Part 5: What if analysis