In [1]:
library(tidyverse)
library(readxl)

Warning message:
"package 'tidyverse' was built under R version 3.4.3"-- Attaching packages --------------------------------------- tidyverse 1.2.1 --
v ggplot2 2.2.1     v purrr   0.2.4
v tibble  1.4.1     v dplyr   0.7.4
v tidyr   0.7.2     v stringr 1.2.0
v readr   1.1.1     v forcats 0.2.0
Warning message:
"package 'tibble' was built under R version 3.4.3"Warning message:
"package 'tidyr' was built under R version 3.4.2"Warning message:
"package 'readr' was built under R version 3.4.2"Warning message:
"package 'purrr' was built under R version 3.4.3"Warning message:
"package 'dplyr' was built under R version 3.4.3"Warning message:
"package 'forcats' was built under R version 3.4.2"-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()
Warning message:
"package 'readxl' was built under R version 3.4.3"

# Part 1: Reading in and cleaning the data

In [2]:
# Read in the fantasy football data
fantasy_data <- read_xlsx('FantasyFootballData2020.xlsx')

In [3]:
head(fantasy_data)

  Team   Position Name                         Projected Points Starter Week
1 Team 1 QB       Cam NewtonCam Newton         18.1      25.7   Yes     1
2 Team 1 RB       Alvin KamaraAlvin Kamara     19.6      23.7   Yes     1
3 Team 1 RB       Kenyan DrakeKenyan Drake     16.4      14.5   Yes     1
4 Team 1 WR       DJ MooreDJ Moore             15.0       9.4   Yes     1
5 Team 1 WR       Amari CooperAmari Cooper     13.4      18.1   Yes     1
6 Team 1 TE       Rob GronkowskiRob Gronkowski  9.6       3.1   Yes     1

In [4]:
str(fantasy_data)

Classes 'tbl_df', 'tbl' and 'data.frame':	2240 obs. of  7 variables:
 $ Team     : chr  "Team 1" "Team 1" "Team 1" "Team 1" ...
 $ Position : chr  "QB" "RB" "RB" "WR" ...
 $ Name     : chr  "Cam NewtonCam Newton" "Alvin KamaraAlvin Kamara" "Kenyan DrakeKenyan Drake" "DJ MooreDJ Moore" ...
 $ Projected: num  18.1 19.6 16.4 15 13.4 9.6 14.5 6.3 8.7 13.7 ...
 $ Points   : num  25.7 23.7 14.5 9.4 18.1 3.1 9.3 -9 9 6.6 ...
 $ Starter  : chr  "Yes" "Yes" "Yes" "Yes" ...
 $ Week     : num  1 1 1 1 1 1 1 1 1 1 ...

In [5]:
# Clean the data. First correct the Name column to only display no duplicates
fantasy_data$Name <- substr(fantasy_data$Name, 1, (nchar(fantasy_data$Name)/2))

In [6]:
# Change week column to be categorical
fantasy_data$Week <- as.factor(fantasy_data$Week)

In [7]:
# Now the data looks fine and it is time to transform the data and create new tables
str(fantasy_data)

Classes 'tbl_df', 'tbl' and 'data.frame':	2240 obs. of  7 variables:
 $ Team     : chr  "Team 1" "Team 1" "Team 1" "Team 1" ...
 $ Position : chr  "QB" "RB" "RB" "WR" ...
 $ Name     : chr  "Cam Newton" "Alvin Kamara" "Kenyan Drake" "DJ Moore" ...
 $ Projected: num  18.1 19.6 16.4 15 13.4 9.6 14.5 6.3 8.7 13.7 ...
 $ Points   : num  25.7 23.7 14.5 9.4 18.1 3.1 9.3 -9 9 6.6 ...
 $ Starter  : chr  "Yes" "Yes" "Yes" "Yes" ...
 $ Week     : Factor w/ 14 levels "1","2","3","4",..: 1 1 1 1 1 1 1 1 1 1 ...

In [36]:
# Add unique id column for later
fantasy_data$unique <- paste0(fantasy_data$Team, fantasy_data$Position, fantasy_data$Week)

# Part 2: Creating data sets

In [8]:
# Summarize point totals by team
point_totals <- fantasy_data %>% filter(Starter == 'Yes') %>%
                                 group_by(Team) %>%
                                 summarize(Actual = sum(Points), Projected = sum(Projected),
                                           Difference = Actual - Projected) 
point_totals

   Team    Actual  Projected Difference
1  Team 1  1756.90 1714.2      42.70
2  Team 10 1982.10 2025.6     -43.50
3  Team 2  1614.80 1633.6     -18.80
4  Team 3  1788.90 1844.8     -55.90
5  Team 4  1617.80 1669.1     -51.30
6  Team 5  1897.58 1778.7     118.88
7  Team 6  1490.18 1546.9     -56.72
8  Team 7  1539.44 1701.7    -162.26
9  Team 8  1631.68 1636.4      -4.72
10 Team 9  1796.78 1686.4     110.38

In [9]:
# Summarize point totals by team and week
point_totals_week <- fantasy_data %>% filter(Starter == 'Yes') %>%
                                 group_by(Team, Week) %>%
                                 summarize(Actual = sum(Points), Projected = sum(Projected),
                                           Difference = Actual - Projected) 
head(point_totals_week)

  Team   Week Actual Projected Difference
1 Team 1 1    103.80 121.6     -17.80
2 Team 1 2    136.10 119.0      17.10
3 Team 1 3    163.82 127.4      36.42
4 Team 1 4    134.88 131.8       3.08
5 Team 1 5    142.06 126.2      15.86
6 Team 1 6    123.00 117.7       5.30

In [10]:
# Summarize point totals by team, player, by position, by week
point_totals_player <- fantasy_data %>% filter(Starter == 'Yes') %>%
                                 group_by(Team, Name, Position, Week) %>%
                                 summarize(Actual = sum(Points), Projected = sum(Projected),
                                           Difference = Actual - Projected) 
head(point_totals_player)

  Team   Name          Position Week Actual Projected Difference
1 Team 1 Aaron Rodgers QB       2    19.20  18.0        1.20
2 Team 1 Aaron Rodgers QB       3    24.52  18.0        6.52
3 Team 1 Aaron Rodgers QB       4    29.58  21.1        8.48
4 Team 1 Aaron Rodgers QB       6     3.80  19.4      -15.60
5 Team 1 Aaron Rodgers QB       7    27.32  20.6        6.72
6 Team 1 Aaron Rodgers QB       8    22.54  19.2        3.34

In [11]:
# Write to excel as a csv file for seperate presentation
write.csv(point_totals_week, "point_totals_week.csv")
write.csv(point_totals_player, "point_totals_player.csv")

# Part 3: Decision making metrics

In [ ]:
# We want to create something that takes a look at starters vs bench and see if a bench
# player has  more actual points than a starter of the same position. If yes, then create a column
# with a 1 else 0.

In [38]:
# Find the max value by Team, Position, and Week
max <- aggregate(Points ~ Team + Position + Week, fantasy_data, function(x) {max(x)})

# Add unique id column
max$unique <- paste0(max$Team, max$Position, max$Week)

# Rename Points column to Largest
max <- max %>% rename(Largest = Points)

In [39]:
head(max)

  Team    Position Week Largest unique
1 Team 1  D/ST     1    -9      Team 1D/ST1
2 Team 10 D/ST     1    17      Team 10D/ST1
3 Team 2  D/ST     1    12      Team 2D/ST1
4 Team 3  D/ST     1    10      Team 3D/ST1
5 Team 4  D/ST     1     5      Team 4D/ST1
6 Team 5  D/ST     1     3      Team 5D/ST1

In [40]:
# Find the second largest value by Team, Position, and Week
max2 <- aggregate(Points ~ Team + Position + Week, fantasy_data, function(x) {tail(sort(x), 2)[1]})

# Add unique id column
max2$unique <- paste0(max2$Team, max2$Position, max2$Week)

# Rename Points column to SecLargest
max2 <- max2 %>% rename(SecLargest = Points)

In [41]:
head(max2)

  Team    Position Week SecLargest unique
1 Team 1  D/ST     1    -9         Team 1D/ST1
2 Team 10 D/ST     1    10         Team 10D/ST1
3 Team 2  D/ST     1    12         Team 2D/ST1
4 Team 3  D/ST     1    10         Team 3D/ST1
5 Team 4  D/ST     1     5         Team 4D/ST1
6 Team 5  D/ST     1     3         Team 5D/ST1

In [42]:
# Combine max and max2 tables
combine <- merge(max, max2, by='unique')

In [43]:
head(combine)

  unique        Team.x  Position.x Week.x Largest Team.y  Position.y Week.y
1 Team 10D/ST1  Team 10 D/ST       1      17      Team 10 D/ST       1
2 Team 10D/ST10 Team 10 D/ST       10     11      Team 10 D/ST       10
3 Team 10D/ST11 Team 10 D/ST       11     16      Team 10 D/ST       11
4 Team 10D/ST12 Team 10 D/ST       12     16      Team 10 D/ST       12
5 Team 10D/ST13 Team 10 D/ST       13      3      Team 10 D/ST       13
6 Team 10D/ST14 Team 10 D/ST       14     13      Team 10 D/ST       14
  SecLargest
1 10
2  2
3 16
4 16
5  3
6  5

In [75]:
# Keep only the unique, Largest, and SecLargest columns and then combine combine and 
# original dataset
combine <- combine %>% select(unique, Largest, SecLargest)
final <- merge(fantasy_data, combine, by = 'unique')

In [80]:
# Create column where it looks to see if starters have highest points and if not then 1
final$BadDecision <- ifelse(final$Position == 'RB' &
                             (final$Points != final$Largest & final$Points != final$SecLargest), 1,
                     ifelse(final$Position == 'WR' &
                             (final$Points != final$Largest & final$Points != final$SecLargest), 1,0))

In [81]:
tail(final)

     unique    Team   Position Name              Projected Points Starter Week
2235 Team 9WR8 Team 9 WR       Tim Patrick        0.0       0.0   No      8
2236 Team 9WR9 Team 9 WR       Allen Robinson II 16.5      15.1   Yes     9
2237 Team 9WR9 Team 9 WR       Robby Anderson    14.3      15.3   Yes     9
2238 Team 9WR9 Team 9 WR       Tim Patrick        9.3      12.9   No      9
2239 Team 9WR9 Team 9 WR       Cole Beasley      11.5       6.9   Yes     9
2240 Team 9WR9 Team 9 WR       Nelson Agholor     7.0      13.5   No      9
     Largest SecLargest BadDecision
2235 20.7     9.8       1
2236 15.3    15.1       0
2237 15.3    15.1       0
2238 15.3    15.1       1
2239 15.3    15.1       1
2240 15.3    15.1       1

In [78]:
tail(final$Position == 'WR')

[1] TRUE TRUE TRUE TRUE TRUE TRUE

In [71]:
tail(final$Points != final$Largest)

[1]  TRUE  TRUE FALSE  TRUE  TRUE  TRUE

In [73]:
tail(final$Points != final$SecLargest)

[1]  TRUE FALSE  TRUE  TRUE  TRUE  TRUE

In [74]:
tail(final$Points != final$Largest & final$Points != final$SecLargest)

[1]  TRUE FALSE FALSE  TRUE  TRUE  TRUE

In [79]:
tail((final$Position == 'WR' & (final$Points != final$Largest & final$Points != final$SecLargest)))

[1]  TRUE FALSE FALSE  TRUE  TRUE  TRUE

# Part 4: Visualizations

# Part 5: What if analysis